
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$color: #0081A8;
$color2: #E91715;

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}*/

nav{
	display: flex;
	justify-content: space-around;
}

.centrar{
	display: flex;
	float: right;
}

.active{
	text-decoration: none;
	color: $color !important;
}

.error{
	color: red;
	font-size: 12px;
}

